body {
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0px;

}

.home {
    height: 100vh;
    width: 100vw;
}

#home #intro h1 {
    text-align: center;
    font-size: 12vw;
    margin-bottom: 0px;
    padding: 0px;
}

#home #intro p {
    text-align: center;
    font-size: 3vw;
}

.about-me {
    height: 100vh;
    width: 100vw;
}

.skills {
    height: 100vh;
    width: 100vw;
}

.projects {
    height: 100vh;
    width: 100vw;
}

.contact {
    height: 100vh;
    width: 100vw;
}

.navbar {
    text-align: center;
    font-size: 16;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 10 auto;
}

.navbar li {
    display: inline;
    margin: 0 12px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(88, 141, 141);
    font-size: 18px;
}
